<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8620e/control/0/plot" value="false" />
    <add key="/lpc/it8620e/control/1/plot" value="false" />
    <add key="/lpc/it8620e/control/2/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/data/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/3/temperature/0/plot" value="false" />
    <add key="/hdd/3/load/0/plot" value="false" />
    <add key="/hdd/4/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="200" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8620e/voltage/0/plot" value="false" />
    <add key="/lpc/it8620e/voltage/1/plot" value="false" />
    <add key="/lpc/it8620e/voltage/2/plot" value="false" />
    <add key="/lpc/it8620e/voltage/3/plot" value="false" />
    <add key="/lpc/it8620e/voltage/5/plot" value="false" />
    <add key="/lpc/it8620e/voltage/6/plot" value="false" />
    <add key="/lpc/it8620e/voltage/7/plot" value="false" />
    <add key="/lpc/it8620e/voltage/8/plot" value="false" />
    <add key="/lpc/it8620e/temperature/0/plot" value="false" />
    <add key="/lpc/it8620e/temperature/1/plot" value="false" />
    <add key="/lpc/it8620e/fan/3/plot" value="false" />
    <add key="/lpc/it8620e/voltage/4/plot" value="false" />
    <add key="startMinMenuItem" value="true" />
    <add key="minCloseMenuItem" value="true" />
    <add key="/hdd/3/temperature/0/values" value="" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/hdd/2/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/0/data/1/values" value="" />
    <add key="/hdd/0/data/0/values" value="" />
    <add key="fanControllerMenuItem" value="false" />
    <add key="minMenuItem" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAFP0ej5BUeuaB8OeL0622llMDCDA89VJXnKGFIydvwAi3gBkb7LJhqjh++pUfzwLzjaT+6CWCeYc+L9EzwAs7vCS23lC319+Bqi4zLE5jGBxOx5n3yComUU8zhthZkbyOE94BzWzgccZZi9DIRI7icfZUfsaC4ztBzWHIZjHeUkjIyvMruVbZoPtYrjG5dwAdWeDC48zzM0OtjzOC0Uh9jaYI+xtqEWyK4HHGQCL9/8ZIAEAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAFP0ej5BUeuaR0NGooutdhYTAxA0xCW6yEvOkIKx8xdAxAuA7E022WC2A5BdfzwLzjaT+6CWCeIwHPi/RM8ALL6BNdZlQt9ffgaouMyxOYxgcz7EuPgGQfQmPI5x2Qg188DLGJcJ7yDiDA9i4PYeeIxgNzyPcXHUvsYCY/tBzXF4HeOypJGRFWbX8i2zwXY1eMW6NEDd+eBdDNzNG4BuWCgKsVfhE8LeBUj2MryIcQEAGvjPiCABAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAFP0ej5BUeuaxwMje0db7SwmBiBIKLR3lJecIQVj5y+AiB8BsjfZZIPZH4rsHeuPZ8HZZnIf1DJBHIYD/5foGYDFS+ZEOU7o+8vPABWXOTaHEcRyUYx29A2C6H1RFO24EWqmgHe044R3EHGGjmi4vRMKEGyFyGhHR+1rLDC2H9ScDY7RjksaGVlhdi3fMhtsV8K7CMcGqDs5tKPhbt4iH+24UBRi7w4xhL0SLQi7GMKiHQFbGwhyIAEAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEABNQfj5BUeuaBwMQ/HnhpMIABe6uH9QywawD/5sf6DPBxDfe+cvPABXnnj+HESbOkxwmDGMvaWRkhamZ3jsbrmaesRgPjA0AcKUgEHgAAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEABNQfj5BUeuaBwMDh6OtdhYTAxgccDiUnA1lX3DwC4KJn3CY8A6hRnZGHpT9wIHZNR2rmvlLHNhhbBaGHLiZuizY1bi7flDLhLD/Nz/Qh6oxcNx45y8/VM1/7vlzGCFsH0eE2wQcF4jC3HzDYSGcbeGYvwCmhgeJLeOIcKcLkl4VJDURjksaGVlh9k7vnc0I01t/HKZGAYl9wEHx7lUWGBsh/sABAA47Uq1oAQAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEABNQfj5BUeuaBwNDh4OtdhYTAwQ4HErOhrIVHPyCYOICDhPeIdTIzsiDsgMcmF3ToewH9khqGBDsBrv649jEGRhYGHKg7AX2uiwI8flLHNhhbHfXD2qZYNaB/80P9KFqVBw33vnLzwAV554/hxHC9nBEuHmGwwLRbLj5C+FsDcf8BTA1KxwQbAZHhNtcHBF6BZDU5zguaWRkhdk7vXc21N4PDkh+dESwG5DsXWDfgBQOSOodAFg3O4KMAQAA" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEABNQfj5BUeuaByODksufF04qDEAAYru7flDLBHEYDvxvfqDPBBPfeOcvPwNUnHv+HEaYOE9ymDCMvaSRkRWmpi1tNlzN+igxHhgbAA+SznF4AAAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEABNQfj5BUeuaByPDIuc/L5xUGIAAxHZ3/aCWCeIwHPjf/ECfCSa+8c5ffgaoOPf8OYwwcZ7kMGEYe0kjIytMTVvabLia9VFiPDA2AAk69sN4AAAA" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEABNQfj5BUeuaByPDIuc/L5xUGIAAxHZ3/aCWCeIwHPjf/ECfCSa+8c5ffgaoOPf8OYwwcZ7kMGEYe0kjIytMTVvabLia9VFiPDA2AAk69sN4AAAA" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAPv/+9kERa1rHgwM4k522llMDGAg7rTRJhvKlnCKq8yCsye8Q6iRm5EHZzO5pkPZYkhqRJ0ajmdhFUewRZxE1HPg5vBsy4Srrz+OUG/Ico0Fxg7P+aCWCWYf+F+0Ux+qRsFp052//AxQca75cxhh4u/Tr7LA2Ah/ySP5S8GJ33U1J4y9ZQUjK8ycUvvZcHPWR4nxwNgAxy2tgDgBAAA=" />
    <add key="/hdd/4/load/0/values" value="" />
    <add key="/hdd/3/load/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAAv80jBRUeuax6JPbU71x7OYGICg5nOb04R3EPaLzwhxEHsiVFz4S5vTAtFsMFsKyG6AqgGxYXoPfEXovfINIb4HiT0PiZ2DxA75hjDTD00cxn4CNH++sI9aJgPYtv9aQlfA4uzb5zs9eB3GzwAV3+3oDBZn2DffaSHUzTx75zvlL4CYs+D4fLiZv47Mh7vZ4TRCXOcsgr3t2Hy421LOzIeHw61z853MqqNZYPYe+u4AFo+6i7D3xH2E+VkXEWYW3EawZ16Z77TJBqKe+/p8JwCk8biHpAEAAA==" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAFP0ej5BUeuaBwODgtOfF04qDGCg4JQx+YNaJph94H/iJH0mmPjCrX/5GaDiMsfmMMLEf1uHCcPYSxoZWWFqpvfOhqtZHyXGA2MDACee7TN4AAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAFP0ej5BUeuaBwNDg8ufF04qDGDQ4OLu+kEtE8w+8H8yuwETTHxC319+Bqi4zLE5jDDx39ZhwjD2kkZGVpia5Vtmw9XMNxbjgbEBynU11XgAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAHt/5dkERa1rHht5FzjYamcxMQDB0w037DbaZIPZ9t2H7eIqIeKODRvsJr6DsFX01tjJzsgDsyP6b9oxu6aD2f+2brabAFWzg3WdXf1xCPvF9lVw8SlmDXC2mH6jnapfDpitLnPS7ndfJpjN67nHrgGq92bmRLsFohD3NImVwvWuvplrx/nysVomiMNw4H/IxWtg8c/LNjpcrwrhZ4CKB+WsZgSxNPo1Hf2CIHqZjsY7wMx5U9jvcKkLYv4+ySYHmJpoPWsHmPsrDkyEqy852QNnN03NcIC5k2XLdAehpC8sMHtnfXYCi//JP+WwEOr+tsdpcDN9JsyDm7NlmSacLXtttsMmaPgLTJrpAABqF4iopAEAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAHt/5dkERa1rHiZHdB1ttbOYGIDgmEimw0abbDC7tijJIa4SIl7eG+kw8R2E/f1vgIPsjDww+96XTAdm13Qw+1F5lMMEqJol6qEO9cch7EjRALi4oYkjnL23zsFB1S8HzBaRDXP43ZcJZoctDnJogOqNdXB1WCAKcc/mkzZwvZ+kbRw4Xz5WywRxGA78D7l4DSx+KMbA8XpVCD8DVDwoZzUjiFWYPsnRLwiid8U/FkeYOR6nxRwvdUHM724QhKuplHoGdz9ftSRc/SkJcTibv5TFEebOb5kyjkJJX1hg9s767AQWn1/v5rgQ6n4TX3ZHmJlLepXh5qQcfQ73l1u4nOMmaPh3sys4AgDCzgzEpAEAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAHt/5dkERa1rHgETxF1ttbOYGIBAg8HDZaNNNpwdVwkRVwOyJ75DqJGdkQdmazeEuDC7poPZ6kDxCVA1IHb9cQhb+cFqFPEJSOao+uWA2ToL9rn87suE29VwHKHGgOUaC4z94+BjtUwQh+HA/0vJNmA1dxPYXLP43/MzQMWDclYzgliXDdRd/YIg5ugxnEDYm7DD5VIXxI9yDsxwNVJAc2BuVgSGCUy90gJVOFva4RzcbYYP7roIJX1hgdnLHr8CbO+CB0Jwc9QadrssFIXYpZAwHx4myH7UAobhAqgaqYQ2FwAiCtijmAEAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEALu39tkERa1rHgETxF1ttbOYGIBAg8HDZZNNNpwdVwkRVwOyJ7xDqJGbkQdmazeEuDC5poPZ6khqQOyG4xC28oPVKOLI5qj65YDZWg27XX73ZcLtqj+OUGPIco0FxuZ4+VgtE8RhOPD/oI0NWM3dBDbXarP3/AxQcUfX1Ywg1mUDdVe/IIg5egwnEPYm7HC51AXxo5wDM1yN7oO7cDcrAsMEpl4twQLOlnY4B3eb4YFbLsqdX1hg9n4zXwG2d0GAoCvMHFWgXQtEIXYpJMyHm4/sRy1gGC6EqgGJAwCPHZkvmAEAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEADvX9myCotY1jyAFSVdb7SwmBiDQYPBw2WiTDWfHVULE1YDsCe8QauRm5IHZ2g0hLkyu6WC2OpIaELvhOISt/GA1ijiyOap+OWC2zoJ9Lr/7MuF2wfSC1BiwXGOBsSUFnqhlgjgMB/5vELUBq7mbwOZabfaenwEqbii3mhHEumyg7gpzvx7DCYS9CTtcLndB/CjnwOzqFwQRN2h461IPtVdxgrgrTL1aggWcLdNwBe42wwO3XIw3fGGB2ftMYAXY3gUBgq4wc1SBdi0UhdilkDAfbj6yH7WAYbgAqgYkDgDMigWvmAEAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEANsb/2yCotY1jxAHGVdb7SwmBiDQYPBwWSiaDWfnL4CIqwHZE94h1MjNyAOztRtCXJhc08FsdSQ1IHb9cQhb+cFqFHFkc9T8csBsnQX7XH71ZcLtajiOUGPIco0FxtY0f6KWCeIwHPi/4J01WM0LAW7X7tj3/AxQccXvqxhBrBsHNFzjKiHm6DGcQNibsMPlUhfEj3IOzK5+QRBxg4a3cDcrThB3halX+2AJZ8s0XIG7zfDALReTDV9YYPY+FVgBtndBgKArTI0q0K4F0PBUSJgP16uGFD5awDCEhTlIHABB9unImAEAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAHt/5dkERa1rHiEMJ5xstbOYGIBAA8jeaJMNZ8dVQsTVgOyJ7xBqZGfkwdnMrulgtjqQPQGqBsSuPw5ha6KJT0AyR9UvB8zWArJ/92XC7Wo4jlBjwHKNBcb+cfCxWiaIw3Dg/6VkG7Caa0DxyBfv+Bmg4smTVzOCWCeA4n5BCHOQ7b3UlQ23F6ZGDYebkdmqSG4DiTNZf2GB2SvetgJs7wIkc0B2LRTNxggTdD8ugKoBiQMAU96d4ZgBAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAFtr8WyCotY1DwYGJydb7SwmBjCwclogmg1lmzvlL4CJWztNeAdjWzjJzciDsi2dmFzT4WxkNQ3Hs+DmIMTNUNSo+uXA2b/7MuFq6o8j1C+Eu8cExRyruCdqmWD2gf/9x62h4oFOc1re8zNAxQUurGKEsMOd4iqz4GoQ5gQ4Xe7Khov7BsHEfZDcj6oewfZEcqeHk+v1Lywwe6++XA61NxhJjSeSX5D1eiGFs6fTRhuEGgC+vc0+pAEAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAFtr8WyCotY1DwYGPSdb7SwmBjBQcVogmg1lKzvlL4CJKzlNeAdjKzrxFubB2cI56VC2PJIaeaeG49j0IrPlnFT9cqBsNafffZlQtoJTPVyvgtNCuHuQzVdwsop7opYJZh/4X7/AGipu6bRm9Xt+Bqi4wIVVjBC2o1NcJUyvBZI51k6Xu2Dmmzv5BsHETZHcb4Ok3gqJbYLkTiMn1+tfWGD2Xn25HG4vQo0Jkl+MkcQNkcLZ2GmjTTbcTAClFmwSpAEAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAJsj+GyCotY1DwYGCye/oCwmBjDQcVogmg1l6znlL4CJGzpNeAdjaznxFuZB2bpOwjnpcL3IahB6NZ0Wws3URlKj46TqlwNnv0rPxKJGF0mvFpK4hpNV3BO1TDD7wP/6BdZQcXenNavf8zNAxQUurGKEsL2c4iphel2RzHF2utyVDRf3DUKINxyHsT2R1Hshse2d6uFqHJxcr39hgdl79eVyqL0eSGrskPzigCRuixRWdk4bbbLh5gMA3Jxev6QBAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAJsj+GyCotY1DwYGJye/oCwmBjCwclogmg1lmzvFV2ITt3DiLcyDsi2dmF3ToWwzFDX5C7Lg5iyEi5s51R9HiJuV5sDFq8KusMDYCPXGSOrNnLxbn6hlgtkH/tcvsIaKBzitWf2enwEqLnBhFSOEHe4UB3e/r1Ny5TUWGNsX7l9Pp4bjCDUT3sHYfkj2eiGJuzu5Xv/CArPr6svlULuCnPIWIMzcZJMNV48wxwMpTNydNsLVeDgBAEgBHe+MAQAA" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAJsj+GyCotY1DwYGGye/oCwmBjAwdFogmg1lGzjFV2ITN3LiLcyDq2F2TYey9ZDU6DvlL8iCq5/wDmEOgq3vZFaaA9ebpX+FBcbeaIMwp/44Qr136xO1TDD7wP/6BdZQcT+nNavf8zNAxQUurGKEsIOc4uDu90Sy193pchfMfB8nW22YuCOSGl8ktheSG5DVODu5Xv/CArP36svlUHsDnfIWINQvhIcJsl47pPBxQPKvoxMAhi51RpgBAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAJsj+GyCotY1jzUL/zjYamcxMQCBhHWjw0LRbDA7Sb3MIX8BRDytkc1hAVQ8J4ndgbcwD8xm2tzjwOyaDmbPm7EGrmbmjUy43qRHPQ4T3kHYbXMt4Ox9fjoOZqU5YLbdxskOr9IzwWyrjcIODcchakyA7I02EDP//Jd3qIeKr6lfa58l8UAtE8RhOPA/gdcBLB7O3uh42u41PwNU/KPNekYQK5tzk2NcJURvWLaRI8wNy+zYHS93QcxvaLR2hIXDq6n74O6c/UMGrn6DsLIjzA0bJ7PDxVsffHW4duANC8xeF4YNYHsnvpNwzIOGwyG/P4iwTdeB6+X/Iu8IC6tbnbyOMP+aKDM6AgA2wv/opAEAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAJsj+GyCotY1j2lTYx1stbOYGIDgRmesw0LRbDD7z395h/wFEHG/N0fsF0DF29XL7HkL88DsopVf7Jld08FsBWtRuBqQepheEJjwDsLOA+qFsUOBbLPSHLiZr9IzwWyrjZPtG44j1G+0gZjpvlHYvh4qDmJnSTxQywSbfuB/Aq8DWNxF6r3DabvX/AxQ8Y826xlBrGMFsxzjKiF6D/mxOMLc0DZ3h8PlLoj5GmVcjrBwOOK3xgGmBiQOY+/3++MAc0OC+jK4mqNA8WsH3rDA7HVh2AC292rpV4e8BTAzdRxhYfvv/3u4XpuNj+HhPO/GSweYf0HmAwBNCagupAEAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAJsj+GyCotY1j5uTCh1stbOYGICgOIndYaFoNpidqP7NPn8BRPyU3xr7BVBxAetAB97CPDD7Uo+LA7NrOpi9XXgKXI3Vxslwve4bhe0nvIOwG9642MHYIHGz0hw4+1V6JlTNEbuG4wj1G20gZrarl9nXw8WP2GVJPFDLBHEYDvxP4HUAi7+9yeJ42u41PwNU/KPNekYQa9W5FY5xlRC9VzrvOsDccNyPxfFyF8R8lwvyjrBwKHo0Ga4mSf0bnD3vhqQjzA1+b47AxecCxa8deMMCs9eFYQPY3g6WPw550HCwcuJ1hIWtkDWjI0yvMJANC6tDfn8cYP7dNPmDAwBFsModpAEAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAIsqfTpBUeuax6/GiY71x7OYGIAgRr3MYcI7CPuU3xr7Bqj4xc679gtEs8HsMPVv9ryFeWC22jxnB2bXdDDbfeMauBq/N0fs8xdA9HqcOWoPM9N9ozCc7ffGxd6sNAfMvgc0/1V6JlwvzF6QGzbaQMy02jjZHubO+iR2hyyJB2qZIA7Dgf8JvA5g8QebJzmetnvNzwAV/2iznhHsZruDjnGVEL1mW7wcYW7YMDnc8XIXxPw4rwRHW22I+JwKRrganwd1cPYM6Xp4WFlstIaLv5yb4HjtwBsWmL0uDBvA9r7aetAxDxoOnN0zHRdCw2dWoR9cr0NnmiMsrBLVyxxh/n2jYukIABYwLUikAQAA" />
    <add key="/lpc/it8620e/voltage/1/values" value="H4sIAAAAAAAEAHvL2TBRUeuax+2f/+ztW51VGIAAxP6pEWmRCeIwHPifrZXIBBOPVwsXhrFDZG1ZGKBqttbEg9U4mP6zrz+eBVfvuGs1J4wNAID3b1hsAAAA" />
    <add key="/lpc/it8620e/voltage/2/values" value="H4sIAAAAAAAEAHvL2TBRUeuaR0w/k4N9q7MKAxCA2D81Ii0yQRyGA/+ztRKZQCzTOCaHjTbZTDA179OvssDYE95lwdVgY/PpMjnUH89iQlcPYofI2oLNAdm1tSYeq3rFu/jtAqkHAI3kKgfMAAAA" />
    <add key="/lpc/it8620e/voltage/3/values" value="H4sIAAAAAAAEAHvL2TBRUeuax6qPTA4T3mUxMQABMrv5AJNDw3FMcRB7gWg2XI3AtqssMHY9VP2PYGYUc7CxQeYshJoT08/kkL8AoUbhLsJMzoBIi0wQh+HA/2jmRLj5G22y4WyYXpCZDUhu0J+8mhObe0JkbcHmg8zcWhMP14vsfpjbQGyYmReVEOYgmwliAwBINkwUUAEAAA==" />
    <add key="/lpc/it8620e/voltage/4/values" value="H4sIAAAAAAAEACsObhLu1rrmsWy2iw0AbH2kVQwAAAA=" />
    <add key="/lpc/it8620e/voltage/5/values" value="H4sIAAAAAAAEAHvL2TBRUeuah/7dJ/b2rc4qDEAAYnMGRFpkgjgMB/5HMycygVhTJJ7Yb7TJZoKpeZ9+lQXGnvAuCyz+sArBdtv2GM4Gqak/DmE/QlIDEg+RtQWbA7Jra008WPxH8GO4epAaxbuYdoHcA2OD1AMAFPisFcwAAAA=" />
    <add key="/lpc/it8620e/voltage/6/values" value="H4sIAAAAAAAEAHvL2TBRUeuaBwPDAXv7VmcVBjA4YM8ZEGmRCWH/j2ZOZIKJx6uFC8PYKS62LFD2/6Wh8XA1BxrFeGBsALnN/O1gAAAA" />
    <add key="/lpc/it8620e/voltage/7/values" value="H4sIAAAAAAAEAHvL2TBRUeuahx1XuIN9q7MKAxCA2JwBkRaZIA7Dgf/RzIlMMPF4tXBhGDvFxZaFAapmaWg8XM2BRjEeGBsAcI4M2mAAAAA=" />
    <add key="/lpc/it8620e/voltage/8/values" value="H4sIAAAAAAAEAHvL2TBRUeuah+g6dwf7VmcVBiAAsTkDIi0yQRyGA/+jmROZQCwfc0+HeLVwYRg7xcWWhQGqZmloPFzNgUYxHhgbAII997pgAAAA" />
    <add key="/lpc/it8620e/temperature/0/values" value="H4sIAAAAAAAEAHvL2TBRUeuaBwMDj5N9q7MKAxjwOHEGRFpkgtkH/kczJzJBxEWc4tXChWHsFBdbFgaomqWh8XA1BxrFeGBsAME0CVxgAAAA" />
    <add key="/lpc/it8620e/temperature/1/values" value="H4sIAAAAAAAEAHvL2TBRUeuaBwNDgJN9q7MKAxgEOEmVR1pkgtkH/nvdSWCCiEc4xauFC8PYKS62LAxQNUtD4+FqDjSK8cDYAKXLa0VgAAAA" />
    <add key="/lpc/it8620e/temperature/2/values" value="" />
    <add key="/lpc/it8620e/fan/0/values" value="H4sIAAAAAAAEAHvL2TBRUeuaBwMQ2Lc6qzBAgVR5pEUmmHXgv9edBCaYeLxauDCMXZpty8IAVTNFLx6u5kCjGA+MDQD/U40xYAAAAA==" />
    <add key="/lpc/it8620e/fan/1/values" value="H4sIAAAAAAAEAHvL2TBRUeuaBwMQ2Lc6qzBAgVR5pEUmmHXgv9edBCaYeLxauDCMXZpty8IAVTNFLx6u5kCjGA+MDQD/U40xYAAAAA==" />
    <add key="/lpc/it8620e/fan/2/values" value="H4sIAAAAAAAEAHvL2TBRUeuaBwMQ2Lc6qzBAgVR5pEUmmHXgv9edBCaYeLxauDCMXZpty8IAVTNFLx6u5kCjGA+MDQD/U40xYAAAAA==" />
    <add key="/lpc/it8620e/fan/3/values" value="H4sIAAAAAAAEAHvL2TBRUeuax5Kdhi4T3mUxMQDBvKOo7IbjEDa6mgWi2XBxmJpVaxFqQOx6LHpnXUSwkcXXLzR0WQg1c/dUQ5f8BZhqkM1fChSXKo+0yARxGA7897qTABbfed3UZaMNxBz3J6Zwcz5ymsHdefWDKdwckHqFu1dZYGyYm41OI9SAzCnNtgWrAdk1RS8eLL56H6p6mPtB5sDsSv6LMAfdXgC3GDmogAEAAA==" />
    <add key="/lpc/it8620e/fan/4/values" value="H4sIAAAAAAAEAHvL2TBRUeuaBwMQ2Lc6qzBAgVR5pEUmmHXgv9edBCaYeLxauDCMXZpty8IAVTNFLx6u5kCjGA+MDQD/U40xYAAAAA==" />
    <add key="/lpc/it8620e/control/0/values" value="" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAAv80jBRUeuaxx2pNY71x7OYGIDgk/QaxwnvIOxqGYR4DZA9ESq+CcheIJoNZu8BshugakBsmN5rcgi9ZgoIcXEk9gd5BHsDEnuKPMLMbjRxGJsFyJ4v7KOWCeIwHPivJXQFLM6z8bTjg9dh/AxQ8d2OzmDxjztPOy6EunnXjtOO+Qugbjt2GuHmQ6fhbr52CiHudRbB5jt6Gu42nzOn4eGQd/60o1l1NAvM3kPfHcDi7x4i7GV9ijB/0yWEmTX3EexD1047brKBqH9w87QjADn2O1akAQAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAAv80jBRUeuaR/9bVcf641lMDECQ8lrVccI7CDvoFUI8AMieCBV//FLVcYFoNph9EchugKo5/xKhd85ThN5bjxDiUo8R7Ewk9jMkttIThJlGTxDiikhsB6D584V91DJBHIYD/7WEroDFE5rOOjx4HcbPABXf7egMFj8Td9ZhIdTNq5LPOuQvgJizTfesA8xMC+uzDjA3W0gjxDMEEewoo7MOMLcliJ51gIXDNY6zDmbV0Swwew99dwCL39l3Bm5vzaYzcPNP/D4DN3PRCQS74/UZh002EPUC9884AADKzd6QpAEAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAJsj+GyCotY1j13urI622llMDEBQkhTusFA0G8yed0PSIX8BRPzXx2v2C6Dix/1YHHgL88DstJ9uDsyu6WD2wh3sDjA1x/z+2MP0rjx9wX7COwg7ZONkOJufYYG9WWkOmH0JqP5VeiaYfd1vjX3DcYiaIzdm2m+0gZhZrL7Mvh4qLnOt1z7q4321TBCH4cD/AhMHsHjcdw/H03av+Rmg4h9t1jOCWGcWrnWMq4Tovcgj4whzw4/b/I6XuyDmT2gxhIeDfN4BB5iajREacPVXuvUcYW5ISf8DV9P7WMbx2Mw3LDB7Q9Q3gO194urqmAcNh3mbrRxhYcvAKgs30ylFzhEWVjYbZR1h/s3NZHQEANdJZb2kAQAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/it8620e/voltage/0/values" value="H4sIAAAAAAAEAHvL2TBRUeuah1/SBLsJ77KYGIBgsgQLnO2XJGDXcBzCNu90hIs/u6Bkt0A0G8w+UWYHV8OvawRXc/irhl09VNyO67otTLzQlguu5lrFS7j4VSS21ZYOuJl7SoTh6mfNlISzDTl07H5qRFpkgjgMB/5nayWCxX8EM9tvtIG4rSdnuV3+Aoj60wtb4WZGp+yGm6N/l8Uexp7mrG2P5Da4+w9/XQFXHwXU6/zNhoUBau+xxfFMELaDPUw9KDwXQsOn7fVEuL32pvPg5hjcfQJnnyyzswcAyQBt+IwBAAA=" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAAv80jBRUeuaR2G3pWP98SwmBiAI0FJ0nPAOwn5uLg8XZ9gk7zgRKv4sTt5xgWg2mG3TL+/YAFVz5L40XO8jZRm43jcrxeDibT+F4eyVTgj29wmycPbjRHG4mZJpInDxRRkI9f92iTiWhniqZYIdd+B/yMVrYPEXLW6O16tC+Bmg4kE5qxlBrPZZYY5+QRC9X9/Zwd0vmW7veCgZwtZLcYGrqUgxhbv/Up0j3F62FU5wdlO4FdydYjlOjkJJX1hg9s767AQWX9UW7LgQalfIEXu4maUt7nBzbkvbw9kvah0dN9lA1FsdcXMEAGVw89+kAQAA" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAAv80jBRUeuaBwMQ6MU5qzBAQWmIp1ommHXgf8jFa0ww8etVIfwMUPGgnNWMMHHZrjBhGFso6QsLTM2sz05wvZ++ifHA2AD3R5XjeAAAAA==" />
    <add key="/lpc/it8620e/control/1/values" value="" />
    <add key="/lpc/it8620e/control/2/values" value="" />
  </appSettings>
</configuration>